<div>
    <h3>Actualizador de precios</h3>
    <li>Ruta Archivo: {{archivo}}</li>
    <li>Cantidad Registros: {{registros}}</li>
    <br>    
    <table>
        <tr>
            <th style="text-align: right;">Registro</th>   
            <th style="text-align: left;">Código</th>
            <th style="text-align: left;">Descripción</th>
            <th style="text-align: right;">Precio</th>                                
        </tr>

        {% for p in precios %}
            <tr>
                <td style="text-align: right;">{{p[0]}}</td>   
                <td style="text-align: left;">{{p[1]}}</td>
                <td style="text-align: left;">{{p[2]}}</td>
                <td style="text-align: right;">{{p[3]}}</td>                                
            </tr>
        {% endfor %}

    </table>

</div>